{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-services-list{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="intro">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{ .Content }}
      </div>
    </div>
  </div>
</div>

<div class="container pb-6 pb-md-10">
  <div class="row">
    {{ range .Pages.ByWeight }}
    <div class="col-12 col-md-6 mb-2 ">{{ .Render "summary" }}</div>
    {{ end }}
  </div>
</div>
{{ end }}