// <section id="home-video" class="home-hero-desktop video video-fullscreen">

//   <video id="video-hero" preload="auto" autoplay onclick="this.paused?this.play():this.pause();">
//     <source src="/video/video.mp4" type="video/mp4">
//   </video>

//   <div class="video-links col-sm-12 text-sm-center">
//     <a href="/product" class="text-link-2 text-link-white mb-4">Learn More</a>
//     <a href="#home-intro" class="scroll-to d-block">
//       <img src="/images/home/down-arrow.png"/>
//     </a>
//   </div>

// </section>

.video.video-fullscreen {
  background-color: #0036af;
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  video {
    flex: auto;
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    //top: 50%;
    //left: 50%;
    //width: auto;
    //height: auto;
    //min-width: 100%;
    //min-height: 100%;
    //z-index: 0;
    //transform: translateX(-50%) translateY(-50%);
  }
  .video-links {
    position: absolute;
    bottom: 50px;
    left: 0;
    a.learn-more {
      color: #FFFFFF;
      display: block;
      margin-bottom: 40px;
    }
    a.scroll-top {

    }
  }
}