.intro {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  overflow: hidden;
  @include media-breakpoint-up(md) {
    padding-top: 160px;
    padding-bottom: 100px;
  }
  @include media-breakpoint-up(lg) {
    padding-top: 160px;
    padding-bottom: 160px;
  }
  h1 {
    color: $primary;
    font-size: 48px;
    line-height: 1.2;
    @include media-breakpoint-up(lg) {
      font-size: 50px;
    }
  }
  h2 {
    width: 80%;
    font-size: 1.2rem;
    line-height: 1.4;
    margin-bottom: 30px;
    color: $black;
    font-family: $font-family-base;
  }
  p {
    width: 80%;
    font-size: 1.2rem;
    font-weight: light;
    line-height: 1.5;
    color: $secondary;
  }
}
.intro-image-flying {
  max-width: none;
  width: 40%;
  margin-bottom: 20px;
  // @include media-breakpoint-up(sm) {
  //   width: 60%;
  // }
  @include media-breakpoint-up(md) {
    margin-bottom: 0;
    position: absolute;
    bottom: 40px;
    right: -140px;
    width: 160%;
  }
  @include media-breakpoint-up(lg) {
    bottom: -80px;
    right: -120px;
    width: 130%;
  }
  @include media-breakpoint-up(xl) {
    bottom: -160px;
    right: -100px;
    width: 120%;
  }
}
.intro-small {
  padding-top: 100px;
  padding-bottom: 30px;
}
