<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ block "title" . }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ block "meta" . }}{{end}}
  <link rel="icon" href="{{ .Site.BaseURL }}favicon.png">

  <!-- CSS -->
  {{- $inServerMode := .Site.IsServer }}
  {{- $cssTarget := "css/style.css" }}
  {{- $cssOptions := cond ($inServerMode) (dict "targetPath" $cssTarget "enableSourceMap" true) (dict "targetPath" $cssTarget "outputStyle" "compressed") }}
  {{- $style := resources.Get "scss/style.scss" | toCSS $cssOptions }}
  <link rel="stylesheet" href="{{ ($style | minify | fingerprint).RelPermalink }}">

  {{ block "header_css" . }}{{ end }}

</head>

<body class='page {{ block "body_classes" . }}{{ end }}'>
  {{ partial "main-menu-mobile.html" . }}
  <div class="wrapper">
    {{ partial "header.html" . }}
    {{ block "main" . }}
    {{ end }}
  </div>

  {{ partial "footer.html" . }}
  {{ partial "sub-footer.html" . }}

  {{ $scripts := resources.Get "js/scripts.js" }}

  {{ block "footer_js" . }}
  {{ end }}

  {{ if .Site.IsServer }}
  <script type="text/javascript" src="{{ $scripts.RelPermalink }}"></script>
  {{ else }}
  <script type="text/javascript" src="{{ ($scripts | minify | fingerprint).RelPermalink }}"></script>
  {{ end }}

  {{ partial "google-analytics.html" . }}

</body>
</html>