.page-home {
  background-image: url('../images/undraw_taking_notes_tjaf.svg');
  background-repeat: no-repeat;
  background-size: 115%;
  background-position: 49px -40px;
  @include media-breakpoint-up(sm) {
    background-size: 90%;
    background-position: 159px -40px;
  }
  @include media-breakpoint-up(md) {
    background-size: 70%;
    background-position: 100% -50px;
  }
  @include media-breakpoint-up(lg) {
    background-size: 67%;
    background-position: 100% -50px;
  }
  @include media-breakpoint-up(xl) {
    background-size: 58%;
    background-position: 100% -90px;
  }
}
