<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Page Not Found</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS-->
  {{ if .Site.IsServer }}
  {{ $style := resources.Get "scss/style.scss" | resources.ExecuteAsTemplate "style.scss" . | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" true) }}
  <link rel="stylesheet" href="{{ ($style).RelPermalink }}">
  {{ else }}
  {{ $style := resources.Get "scss/style.scss" | resources.ExecuteAsTemplate "style.scss" . | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" false) }}
  <link rel="stylesheet" href="{{ ($style | minify | fingerprint).RelPermalink }}">
  {{ end }}

</head>

<body>
  <div id="wrapper" class="wrapper">

    <div class="container pt-9 pb-9 pt-md-13 pb-md-13">
      <div class="row justify-content-center align-content-between">
        <div class="col-9 text-center">
          <h1 class="display-1 text-primary mb-4">Page not found</h1>
        </div>
        <div class="col-9 text-center mb-2">
          <a href="/" class="btn btn-primary">Home</a>
        </div>
        <div class="col-9 text-center mb-2">
          <a href="/contact" class="btn btn-primary">Contact Us</a>
        </div>
      </div>
    </div>

  </div>
</body>

</html>